<link rel="stylesheet" href="/assets/_reset-9c3efd7b.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/actiontext-7b8d51ea.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/animation-bcdb4bab.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/autocomplete-9de8c93f.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/avatars-279376ab.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/base-637a0ec8.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/boosts-da4032a8.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/buttons-c7d39fd4.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/code-333ae548.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/colorize-eb391ca0.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/colors-aee62523.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/composer-e490638a.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/embeds-c20d0a3a.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/filters-8a4d63ed.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/flash-a561c1e5.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/inputs-9e58a07c.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/layout-ff6ddfc6.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/lexxy-content-0ff2f961.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/lexxy-editor-2d5c7ebe.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/lexxy-variables-3fef4323.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/lexxy-2876c58e.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/lightbox-af496d39.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/messages-c5485fef.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/nav-05e7183a.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/panels-af44ec6d.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/separators-172b3ab8.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/sidebar-0be58db9.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/signup-6e02d591.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/spinner-5a118f25.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/trix-65afdb1d.css" data-turbo-track="reload" />
<link rel="stylesheet" href="/assets/utilities-e2f32466.css" data-turbo-track="reload" />
    

    <script type="importmap" data-turbo-track="reload">{
  "imports": {
    "application": "/assets/application-a54c74a7.js",
    "@hotwired/stimulus": "/assets/stimulus.min-4b1e420e.js",
    "@hotwired/stimulus-loading": "/assets/stimulus-loading-1fc53fe7.js",
    "@hotwired/turbo-rails": "/assets/turbo-a1e3a50a.js",
    "@rails/actioncable": "/assets/actioncable.esm-e0ec9819.js",
    "@rails/request.js": "/assets/@rails--request-3fc8489d.js",
    "lexxy": "/assets/lexxy-a21f41d4.js",
    "highlight.js": "/assets/highlight.js/core-4e141f64.js",
    "initializers/autocomplete": "/assets/initializers/autocomplete-ba9abe45.js",
    "initializers/current": "/assets/initializers/current-3a3b90da.js",
    "initializers/highlight": "/assets/initializers/highlight-5bd558f1.js",
    "initializers": "/assets/initializers/index-d2bbfae4.js",
    "initializers/rich_text": "/assets/initializers/rich_text-f451a05e.js",
    "lib/autocomplete/autocomplete_handler": "/assets/lib/autocomplete/autocomplete_handler-becd1e1a.js",
    "lib/autocomplete/base_autocomplete_handler": "/assets/lib/autocomplete/base_autocomplete_handler-e29a896e.js",
    "lib/autocomplete/collection": "/assets/lib/autocomplete/collection-3e251a0e.js",
    "lib/autocomplete/constants": "/assets/lib/autocomplete/constants-17c2858b.js",
    "lib/autocomplete/custom_elements/suggestion_option": "/assets/lib/autocomplete/custom_elements/suggestion_option-ac7846b3.js",
    "lib/autocomplete/custom_elements/suggestion_select": "/assets/lib/autocomplete/custom_elements/suggestion_select-f0045305.js",
    "lib/autocomplete/helpers": "/assets/lib/autocomplete/helpers-651308b9.js",
    "lib/autocomplete/renderer": "/assets/lib/autocomplete/renderer-5caf6120.js",
    "lib/autocomplete/selection": "/assets/lib/autocomplete/selection-862705bf.js",
    "lib/autocomplete/suggestion_context": "/assets/lib/autocomplete/suggestion_context-b265ffb4.js",
    "lib/autocomplete/suggestion_controller": "/assets/lib/autocomplete/suggestion_controller-10624c40.js",
    "lib/autocomplete/suggestion_results_controller": "/assets/lib/autocomplete/suggestion_results_controller-91405749.js",
    "lib/autocomplete/utils": "/assets/lib/autocomplete/utils-296fb278.js",
    "lib/cookie": "/assets/lib/cookie-76006835.js",
    "lib/rich_text/campfire_extension": "/assets/lib/rich_text/campfire_extension-f62f017b.js",
    "lib/rich_text/cite_node": "/assets/lib/rich_text/cite_node-b4d2b89a.js",
    "controllers/application": "/assets/controllers/application-f004202c.js",
    "controllers/auto_submit_controller": "/assets/controllers/auto_submit_controller-ee52d396.js",
    "controllers/autocomplete_controller": "/assets/controllers/autocomplete_controller-eaf5b07d.js",
    "controllers/badge_dot_controller": "/assets/controllers/badge_dot_controller-e0d733c8.js",
    "controllers/boost_delete_controller": "/assets/controllers/boost_delete_controller-29fd1686.js",
    "controllers/composer_controller": "/assets/controllers/composer_controller-73c33f9f.js",
    "controllers/copy_to_clipboard_controller": "/assets/controllers/copy_to_clipboard_controller-07e32f4d.js",
    "controllers/drop_target_controller": "/assets/controllers/drop_target_controller-3a205782.js",
    "controllers/element_removal_controller": "/assets/controllers/element_removal_controller-4526910a.js",
    "controllers/filter_controller": "/assets/controllers/filter_controller-ca9769d5.js",
    "controllers/form_controller": "/assets/controllers/form_controller-6f3d64db.js",
    "controllers": "/assets/controllers/index-594ba2fb.js",
    "controllers/lightbox_controller": "/assets/controllers/lightbox_controller-98fc07ca.js",
    "controllers/local_time_controller": "/assets/controllers/local_time_controller-7daf3d0c.js",
    "controllers/maintain_scroll_controller": "/assets/controllers/maintain_scroll_controller-1debbbfb.js",
    "controllers/messages_controller": "/assets/controllers/messages_controller-3d90944a.js",
    "controllers/notifications_controller": "/assets/controllers/notifications_controller-746d0662.js",
    "controllers/popup_controller": "/assets/controllers/popup_controller-9f8ea824.js",
    "controllers/presence_controller": "/assets/controllers/presence_controller-28f14aad.js",
    "controllers/pwa_install_controller": "/assets/controllers/pwa_install_controller-3fe3fc5e.js",
    "controllers/read_rooms_controller": "/assets/controllers/read_rooms_controller-8245522a.js",
    "controllers/refresh_room_controller": "/assets/controllers/refresh_room_controller-4e4b6014.js",
    "controllers/reply_controller": "/assets/controllers/reply_controller-278bb9cc.js",
    "controllers/rooms_list_controller": "/assets/controllers/rooms_list_controller-64840fcd.js",
    "controllers/scroll_into_view_controller": "/assets/controllers/scroll_into_view_controller-8a0bc733.js",
    "controllers/search_results_controller": "/assets/controllers/search_results_controller-aab46974.js",
    "controllers/sessions_controller": "/assets/controllers/sessions_controller-a9fdfe3d.js",
    "controllers/soft_keyboard_controller": "/assets/controllers/soft_keyboard_controller-be1da837.js",
    "controllers/sorted_list_controller": "/assets/controllers/sorted_list_controller-9f9ae485.js",
    "controllers/sound_controller": "/assets/controllers/sound_controller-d3e5656e.js",
    "controllers/toggle_class_controller": "/assets/controllers/toggle_class_controller-b67fa681.js",
    "controllers/turbo_frame_controller": "/assets/controllers/turbo_frame_controller-9f4f722f.js",
    "controllers/turbo_streaming_controller": "/assets/controllers/turbo_streaming_controller-04b85a80.js",
    "controllers/typing_notifications_controller": "/assets/controllers/typing_notifications_controller-86906ab9.js",
    "controllers/unfurl_controller": "/assets/controllers/unfurl_controller-4a868f9a.js",
    "controllers/upload_preview_controller": "/assets/controllers/upload_preview_controller-9b8b26bb.js",
    "controllers/web_share_controller": "/assets/controllers/web_share_controller-f7236b6f.js",
    "helpers/dom_helpers": "/assets/helpers/dom_helpers-0f234176.js",
    "helpers/navigator_helpers": "/assets/helpers/navigator_helpers-3c9f4c31.js",
    "helpers/string_helpers": "/assets/helpers/string_helpers-40941ba8.js",
    "helpers/timing_helpers": "/assets/helpers/timing_helpers-94d95529.js",
    "helpers/turbo_helpers": "/assets/helpers/turbo_helpers-a3c01462.js",
    "models/client_message": "/assets/models/client_message-de3c07cf.js",
    "models/file_uploader": "/assets/models/file_uploader-d3a5c44b.js",
    "models/message_formatter": "/assets/models/message_formatter-f39a0c5d.js",
    "models/message_paginator": "/assets/models/message_paginator-b79013e3.js",
    "models/scroll_manager": "/assets/models/scroll_manager-ed559629.js",
    "models/typing_tracker": "/assets/models/typing_tracker-42a444a5.js",
    "languages/bash": "/assets/languages/bash-13136668.js",
    "languages/css": "/assets/languages/css-a7f2e40b.js",
    "languages/diff": "/assets/languages/diff-94a335fe.js",
    "languages/go": "/assets/languages/go-10465864.js",
    "languages/java": "/assets/languages/java-95f3a30f.js",
    "languages/javascript": "/assets/languages/javascript-18eb0dd8.js",
    "languages/json": "/assets/languages/json-60184e1b.js",
    "languages/python": "/assets/languages/python-8f48fd1a.js",
    "languages/ruby": "/assets/languages/ruby-287ccd0f.js",
    "languages/rust": "/assets/languages/rust-d48f93d8.js",
    "languages/sql": "/assets/languages/sql-642be05a.js",
    "languages/xml": "/assets/languages/xml-fa7f1eda.js"
  }
}</script>
<link rel="modulepreload" href="/assets/application-a54c74a7.js">
<link rel="modulepreload" href="/assets/stimulus.min-4b1e420e.js">
<link rel="modulepreload" href="/assets/stimulus-loading-1fc53fe7.js">
<link rel="modulepreload" href="/assets/turbo-a1e3a50a.js">
<link rel="modulepreload" href="/assets/actioncable.esm-e0ec9819.js">
<link rel="modulepreload" href="/assets/@rails--request-3fc8489d.js">
<link rel="modulepreload" href="/assets/lexxy-a21f41d4.js">
<link rel="modulepreload" href="/assets/highlight.js/core-4e141f64.js">
<link rel="modulepreload" href="/assets/initializers/autocomplete-ba9abe45.js">
<link rel="modulepreload" href="/assets/initializers/current-3a3b90da.js">
<link rel="modulepreload" href="/assets/initializers/highlight-5bd558f1.js">
<link rel="modulepreload" href="/assets/initializers/index-d2bbfae4.js">
<link rel="modulepreload" href="/assets/initializers/rich_text-f451a05e.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/autocomplete_handler-becd1e1a.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/base_autocomplete_handler-e29a896e.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/collection-3e251a0e.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/constants-17c2858b.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/custom_elements/suggestion_option-ac7846b3.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/custom_elements/suggestion_select-f0045305.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/helpers-651308b9.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/renderer-5caf6120.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/selection-862705bf.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/suggestion_context-b265ffb4.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/suggestion_controller-10624c40.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/suggestion_results_controller-91405749.js">
<link rel="modulepreload" href="/assets/lib/autocomplete/utils-296fb278.js">
<link rel="modulepreload" href="/assets/lib/cookie-76006835.js">
<link rel="modulepreload" href="/assets/lib/rich_text/campfire_extension-f62f017b.js">
<link rel="modulepreload" href="/assets/lib/rich_text/cite_node-b4d2b89a.js">
<link rel="modulepreload" href="/assets/controllers/application-f004202c.js">
<link rel="modulepreload" href="/assets/controllers/auto_submit_controller-ee52d396.js">
<link rel="modulepreload" href="/assets/controllers/autocomplete_controller-eaf5b07d.js">
<link rel="modulepreload" href="/assets/controllers/badge_dot_controller-e0d733c8.js">
<link rel="modulepreload" href="/assets/controllers/boost_delete_controller-29fd1686.js">
<link rel="modulepreload" href="/assets/controllers/composer_controller-73c33f9f.js">
<link rel="modulepreload" href="/assets/controllers/copy_to_clipboard_controller-07e32f4d.js">
<link rel="modulepreload" href="/assets/controllers/drop_target_controller-3a205782.js">
<link rel="modulepreload" href="/assets/controllers/element_removal_controller-4526910a.js">
<link rel="modulepreload" href="/assets/controllers/filter_controller-ca9769d5.js">
<link rel="modulepreload" href="/assets/controllers/form_controller-6f3d64db.js">
<link rel="modulepreload" href="/assets/controllers/index-594ba2fb.js">
<link rel="modulepreload" href="/assets/controllers/lightbox_controller-98fc07ca.js">
<link rel="modulepreload" href="/assets/controllers/local_time_controller-7daf3d0c.js">
<link rel="modulepreload" href="/assets/controllers/maintain_scroll_controller-1debbbfb.js">
<link rel="modulepreload" href="/assets/controllers/messages_controller-3d90944a.js">
<link rel="modulepreload" href="/assets/controllers/notifications_controller-746d0662.js">
<link rel="modulepreload" href="/assets/controllers/popup_controller-9f8ea824.js">
<link rel="modulepreload" href="/assets/controllers/presence_controller-28f14aad.js">
<link rel="modulepreload" href="/assets/controllers/pwa_install_controller-3fe3fc5e.js">
<link rel="modulepreload" href="/assets/controllers/read_rooms_controller-8245522a.js">
<link rel="modulepreload" href="/assets/controllers/refresh_room_controller-4e4b6014.js">
<link rel="modulepreload" href="/assets/controllers/reply_controller-278bb9cc.js">
<link rel="modulepreload" href="/assets/controllers/rooms_list_controller-64840fcd.js">
<link rel="modulepreload" href="/assets/controllers/scroll_into_view_controller-8a0bc733.js">
<link rel="modulepreload" href="/assets/controllers/search_results_controller-aab46974.js">
<link rel="modulepreload" href="/assets/controllers/sessions_controller-a9fdfe3d.js">
<link rel="modulepreload" href="/assets/controllers/soft_keyboard_controller-be1da837.js">
<link rel="modulepreload" href="/assets/controllers/sorted_list_controller-9f9ae485.js">
<link rel="modulepreload" href="/assets/controllers/sound_controller-d3e5656e.js">
<link rel="modulepreload" href="/assets/controllers/toggle_class_controller-b67fa681.js">
<link rel="modulepreload" href="/assets/controllers/turbo_frame_controller-9f4f722f.js">
<link rel="modulepreload" href="/assets/controllers/turbo_streaming_controller-04b85a80.js">
<link rel="modulepreload" href="/assets/controllers/typing_notifications_controller-86906ab9.js">
<link rel="modulepreload" href="/assets/controllers/unfurl_controller-4a868f9a.js">
<link rel="modulepreload" href="/assets/controllers/upload_preview_controller-9b8b26bb.js">
<link rel="modulepreload" href="/assets/controllers/web_share_controller-f7236b6f.js">
<link rel="modulepreload" href="/assets/helpers/dom_helpers-0f234176.js">
<link rel="modulepreload" href="/assets/helpers/navigator_helpers-3c9f4c31.js">
<link rel="modulepreload" href="/assets/helpers/string_helpers-40941ba8.js">
<link rel="modulepreload" href="/assets/helpers/timing_helpers-94d95529.js">
<link rel="modulepreload" href="/assets/helpers/turbo_helpers-a3c01462.js">
<link rel="modulepreload" href="/assets/models/client_message-de3c07cf.js">
<link rel="modulepreload" href="/assets/models/file_uploader-d3a5c44b.js">
<link rel="modulepreload" href="/assets/models/message_formatter-f39a0c5d.js">
<link rel="modulepreload" href="/assets/models/message_paginator-b79013e3.js">
<link rel="modulepreload" href="/assets/models/scroll_manager-ed559629.js">
<link rel="modulepreload" href="/assets/models/typing_tracker-42a444a5.js">
<link rel="modulepreload" href="/assets/languages/bash-13136668.js">
<link rel="modulepreload" href="/assets/languages/css-a7f2e40b.js">
<link rel="modulepreload" href="/assets/languages/diff-94a335fe.js">
<link rel="modulepreload" href="/assets/languages/go-10465864.js">
<link rel="modulepreload" href="/assets/languages/java-95f3a30f.js">
<link rel="modulepreload" href="/assets/languages/javascript-18eb0dd8.js">
<link rel="modulepreload" href="/assets/languages/json-60184e1b.js">
<link rel="modulepreload" href="/assets/languages/python-8f48fd1a.js">
<link rel="modulepreload" href="/assets/languages/ruby-287ccd0f.js">
<link rel="modulepreload" href="/assets/languages/rust-d48f93d8.js">
<link rel="modulepreload" href="/assets/languages/sql-642be05a.js">
<link rel="modulepreload" href="/assets/languages/xml-fa7f1eda.js">
<script type="module">import "application"</script>
